body {
	background-color: #D79B9B;
	color: black;
	}

#imagemBarras {
	width: 100%;
}

#fotobarras img {
	margin-top: 200px;
}

#rodape {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60px;
	background-color: rgba(252, 252, 252, 0.5);
	width: 100%;
	position: relative;
	margin: 0;
	margin-top: 30px;
	width: 100%;
}

#rodapetexto {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60px;
	margin: 0;
	color: black;
	font-size: 18px; 
	font-family: Calibri;
	width: 70%;
	float: left;
}

#rodapetexto p {
	font-family: Calibri;
}

#rodapeimg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60px;
	float: right;
	margin: 0;
	width: 30%;
}

#img-1 img, #img-2 img {
	float: left;
	margin: 2px;
	width: 43px;
	height: 43px;
}

@media(min-width: 980px) and (max-width: 1310px) {
	
	@font-face {
		font-family: "Ink Free";
		src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
		src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
	}
	
	#fotobarras img {
		margin-top: 150px; 
	}
	
}

@media(min-width: 701px) and (max-width: 979px) {
	
	#fotobarras img {
		margin-top: 150px; 
	}
	
	#rodape {
		margin-top: 30px;
		flex-direction: column;
		height: 90px;
	}
	
	#rodapetexto {
		justify-content: center;
		vertical-align: middle;
		width: 100%;
		text-align: justify;
	}
	
	#rodapetexto p {
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#rodapeimg {
		width: 100%;
		vertical-align: middle;
	}
	
}

@media(max-width: 700px) {
	
	#fotobarras img {
		margin-top: 150px; 
	}
	
		
	#rodape {
		margin-top: 30px;
		flex-direction: column;
		height: 110px;
	}
	
	#rodapetexto {
		justify-content: center;
		vertical-align: middle;
		width: 100%;
		text-align: justify;
	}
	
	#rodapetexto p {
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#rodapeimg {
		padding-top: 5px;
		width: 100%;
		vertical-align: middle;
	}

}

@media(max-width: 480px) {

	#fotobarras img {
		margin-top: 150px;
	}
	
	#titulo {
		height: 130px;
	} 
	
	#titulo h2 {
		font-size: 50px;
	}
	
	#texto p {
		max-width: 100%;
	}
	
	/* #imagem img {
		width: 100%;
	} */
	
	#pergunta-caixa1 label, #pergunta-caixa2 label, #pergunta-caixa3 label {
		font-size: 21px;
		margin-left: 0px;
		text-align: justify;
	}
	
	#resposta1 p, #resposta2 p, #resposta3 p {
		text-align: justify;
	}
	
	#pergunta-caixa1, #pergunta-caixa2, #pergunta-caixa3 {
		height: 65px;
	}
	
	#pergunta-caixa1 p, #pergunta-caixa2 p, #pergunta-caixa3 p {
		padding-top: 8px; 
		padding-left: 15px;
		padding-right: 15px;
		text-align: justify;
	}
	
	#rodape {
		margin-top: 30px;
		flex-direction: column;
		height: 120px;
	}
	
	#rodapetexto {
		justify-content: center;
		vertical-align: middle;
		width: 100%;
		text-align: justify;
	}
	
	#rodapetexto p {
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		width: 100%;
		vertical-align: middle;
	}
	
	#img-1 img, #img-2 img {
		width: 40px;
		height: 40px;
	}
	
}

@media(max-width: 330px) {
	
	#perguntas h2 {
		font-size: 24px;
	}
	
	#pergunta-caixa1 label, #pergunta-caixa2 label, #pergunta-caixa3 label {
		font-size: 21px;
		margin-left: 0px;
		text-align: justify;
	}
	
	#resposta1 p, #resposta2 p, #resposta3 p {
		text-align: justify;
	}
	
	#pergunta-caixa1, #pergunta-caixa2, #pergunta-caixa3 {
		height: 65px;
	}
	
	#pergunta-caixa1 p, #pergunta-caixa2 p, #pergunta-caixa3 p {
		padding-top: 8px; 
		padding-left: 15px;
		padding-right: 15px;
		text-align: justify;
	}
	
	
	#rodape {
		margin-top: 30px;
		flex-direction: column;
		height: 140px;
		width: 100%;
	}
	
	#rodapetexto {
		justify-content: center;
		text-align: justify;
	}
	
	#rodapetexto p {
		font-size: 15px;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		vertical-align: middle;
	}
	
	#img-1 img, #img-2 img {
		width: 40px;
		height: 40px;
	}

}

