html {
	height: 100%;
	margin: 0;
}

body {
	background-color: #D79B9B;
	color: black;
	height: 100%;
	margin: 0;
}

#todo {
	min-height: 100%;
}

#todo-dentro {
	padding-bottom: 80px;
}

#fotocontato img {
	margin-top: 200px;
	width: 100%;
}

#nome h3 {
	text-align: center;
	margin: 0;
	font-size: 35px;
	color: black;
}

#informacoes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80px;
}

#informacoes h4 {
	margin: 0;
	font-size: 25px;
	text-align: center;
	float: left;
}

#informacoes a {
	text-decoration: none;
	color: black;
}

#informacoes img {
	width: 35px;
	height: 35px;
	float: right;
	padding-left: 10px;
}

#email, #telefone {
	display: flex;
	flex-direction: row;
	padding: 7px;
}

#redes-sociais {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}

#facebook img {
	padding-right: 5px;
}

#rodape {
	margin-top: -60px;
	width: 100%;   
	height: 60px;   
}

#colunafooter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#rodapetexto {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 18px; 
	font-family: Calibri;
	width: 70%;
	float: left;
	height: 60px;
	margin: 0;
	background-color: rgba(252, 252, 252, 0.5);
}

#rodapetexto p {
	font-family: Calibri;
}

#rodapeimg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	float: right;
	width: 30%;
	margin: 0;
	height: 60px;
	background-color: rgba(252, 252, 252, 0.5);
}

#img-1 img, #img-2 img {
	float: left;
	margin: 2px;
	width: 43px;
	height: 43px;
}

@media(min-width: 980px) and (max-width: 1310px) {
	
	#fotocontato img {
		margin-top: 150px; 
	}
	
}

@media(min-width: 701px) and (max-width: 979px) {

	#fotocontato img {
		margin-top: 150px; 
	}
	
	#todo-dentro {
		padding-bottom: 80px;
	}
	
	#rodape {
		margin-top: -60px;
		clear: both;
		float: none;
		height: 60px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px; 
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 35px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(max-width: 700px) {

	#fotocontato img {
		margin-top: 150px; 
	}
	
	#todo-dentro {
		padding-bottom: 100px;
	}
	
	#rodape {
		margin-top: -75px;
		clear: both;
		float: none;
		height: 75px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px; 
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 45px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(max-width: 480px) {
	
	#fotocontato img {
		margin-top: 150px;
	}
	
	#titulo {
		height: 80px;
	}
	
	#titulo h2 {
		font-size: 50px;
	}
	
	#todo-dentro {
		padding-bottom: 130px;
	}
	
	#rodape {
		margin-top: -110px;
		clear: both;
		float: none;
		height: 110px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px; 
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 70px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(max-width: 330px) {
	
	#informacoes h4 {
		font-size: 20px;
	}
	
	#todo-dentro {
		padding-bottom: 160px;
	}
	
	#rodape {
		clear: both;
		float: none;
		height: 140px;
		margin-top: -140px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		margin: 0;
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px; 
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		height: 110px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		margin: 0;
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

}	