#titulo-evento h2 {
	clear: both;
	text-align: center;
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Ink Free";
}

#texto {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

#texto p {
	text-align: justify;
	font-family: Calibri;
	font-size: 20px;
}

#voltar {
	margin-top: 30px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#voltar p {
	font-size: 20px;
	font-family: Calibri;
	font-weight: bold;
	color: black;
}

#voltar p a {
	text-decoration: none;
	color: black;
}

@media(max-width: 480px) {

	
	#texto p {
		max-width: 100%;
	}

}