* {
margin: 0;
padding: 0;
font-family: "Ink Free", Tahoma;
}

@font-face {
    font-family: "Ink Free";
    src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
    src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
}

body {
background-color: #D79B9B;
color: black;
}

header {
position: fixed; 
top: 0; 
left: 0;
width: 100%; 
background-color: white; 
}

#logo img {
    width: 300px;
    height: 200px;
}

#menu {
    margin-top: -100px;
    width: 1100px;
    height: 200px;
    position: fixed;
    right: 0;
    font-size: 20px;
}

    #menu ul {
        list-style: none;
        position: relative;
    }

        #menu ul li {
            text-align: center;
            padding-right: 50px;
            float: left;
            cursor: pointer;
        }

    #menu a {
        padding: 8px;
        display: block;
        text-decoration: none;
        color: black;
        width: 100%;
    }

#terapiasLista {
    position: absolute;
    display: none;
    background-color: white;
    color: black;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}

#menu ul li ul li {
    background-color: white;
    color: black;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

    #menu ul li ul li a {
        background-color: white;
        color: black;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
    }

#menu a:hover {
    background-color: #D79B9B;
    color: white;
    width: 100%;
}

#labelMenu {
    background-color: white;
    color: #C14242;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#bt_menu {
    display: none;
}

#fotoinicio img {
    margin-top: 200px;
    width: 100%;
}

/* #cssSlider {
width: 800px;
height: 500px;
overflow: hidden;
margin-left: 300px;
} 

#sliderImages {
width: 4000px;
height: 500px;
overflow: hidden;
animation: slide 16s infinite;
}

#sliderImages img { 
float: left;
width: 20%;
}

@keyframes slide{
0%{margin-left: 0px;}
17%{margin-left: 0px;}
20%{margin-left: -800px;}
37%{margin-left: -800px;}
40%{margin-left: -1600px;}
57%{margin-left: -1600px;}
60%{margin-left: -2400px;}
77%{margin-left: -2400px;}
80%{margin-left: -3200px;}
97%{margin-left: -3200px;}
100%{margin-left: 0px;}
} */

#historia2 {
    margin-top: 10px;
    color: black;
    height: 400px;
    background-image: url("http://www.hostcgs.com.br/hostimagem/images/332historia_inicio3.jpg");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

#historia2-texto h1 { 
padding-top: 55px;
margin-left: 570px;
font-size: 50px;
width: 750px;
text-align: center;
color: black;
}

#historia2-texto h1 a {
color: black;
text-decoration: none;
}

#historia2-texto p {
font-size: 28px;
text-align: justify;
width: 750px;
margin-left: 570px;
}

#centralizar-saiba1 {
margin-top: 45px;
}

#saibahistoria {
padding: 10px;
color: black;
font-size: 25px;
font-family: Calibri;
border-radius: 12px;
border: 1px solid;
box-shadow: inset 0 1px 1px #fff;
cursor: pointer;
background-color: white;
text-decoration: none;
}

#saibahistoria a {
text-decoration: none;
color: black;
font-family: Calibri;
}

#saibahistoria:hover {
font-weight: bold;
text-decoration: none;
}

#terapias {
    margin-top: 10px;
    height: 500px;
    background-image: url("http://www.hostcgs.com.br/hostimagem/images/185terapias_inicio2.jpg");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

#terapias-texto h1 {
padding-top: 55px;
margin-left: 40px;
font-size: 50px;
text-align: center;
color: black;
width: 600px;
}

#terapias-texto h1 a {
color: black;
text-decoration: none;
}

#terapias-texto p {
margin-top: -10px;
font-size: 28px;
color: black;
margin-left: 35px;
width: 600px;
text-align: justify;
}

#centralizar-saiba2 {
margin-top: 30px;
}

#saibaterapias {
padding: 10px;
color: black;
font-size: 25px;
font-family: Calibri;
border-radius: 12px;
border: 1px solid;
box-shadow: inset 0 1px 1px #fff;
cursor: pointer;
background-color: white;
text-decoration: none;
}

#saibaterapias a {
text-decoration: none;
color: black;
font-family: Calibri;
}

#saibaterapias:hover {
font-weight: bold;
text-decoration: none;
}

/* #feminino {
width: 800px;
margin-top: 50px;
margin-left: 300px;
text-align: center;
}

#feminino h1 {
}

#feminino p {
margin-top: 50px;
font-size: 20px;
}

.saibamais4 {
font-family: verdana;
font-size: 20px;
background: none;
border: 3px solid #C14242;
padding: 10px;
margin-top: 50px;
margin-left: 30px;
}

.saibamais4 a {
text-decoration: none;
color: black;
} */

#consulta {
width: 100%;
margin-top: 50px;
}

#consulta h1 {
text-align: center;
font-size: 35px;
color: black;
}

#consulta h1 a {
color: black;
text-decoration: none;
}

#consulta p {
text-align: center;
margin-top: 20px;
font-size: 25px;
}

#centralizar-botao {
text-align: center;
margin-top: 30px;
margin-bottom: 15px;
}

#agenda {
padding: 15px;
color: black;
font-size: 25px;
font-family: Calibri;
border-radius: 12px;
border: 1px solid;
cursor: pointer;
background: none;
text-decoration: none;
}

#agenda a {
text-decoration: none;
color: black;
font-family: Calibri;
}

#agenda:hover {
font-weight: bold;
text-decoration: none;
}

#blog {
margin-top: 30px;
}

#blog h1 {
text-align: center;
font-size: 45px;
color: black;
}

#blog h1 a {
text-decoration: none;
color: black;
}

#blog-textos {
margin-top: 35px;
float: left;
margin-left: 200px;
width: 400px;
height: 500px;
}

#imagem-blog1 {
text-align: center;
}

#imagem-blog1 img {
width: 300px;
height: 200px;
}

#titulo1 h3 {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
font-size: 30px;
color: black;
}

#titulo1 h3 a {
color: black;
text-decoration: none;
}

#texto-blog1 p {
text-align: justify;
font-family: Calibri;
font-size: 20px;
}

#botao-blog1 {
text-align: center;
margin-top: 40px;
}

#saibablog1 {
padding: 15px;
color: black;
font-size: 25px;
font-family: Calibri;
border-radius: 12px;
border: 1px solid;
cursor: pointer;
background: none;
text-decoration: none;
}

#saibablog1 a {
text-decoration: none;
color: black;
font-family: Calibri;
}

#saibablog1:hover {
font-weight: bold;
text-decoration: none;
}

#blog-textos2 {
margin-top: 35px;
float: right;
margin-right: 200px;
width: 400px;
height: 500px;
}

#imagem-blog2 {
text-align: center;
}

#imagem-blog2 img {
width: 300px;
height: 200px;
}

#titulo2 h3 {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
font-size: 30px;
color: black;
}

#titulo2 h3 a {
color: black;
text-decoration: none;
}

#texto-blog2 p {
text-align: justify;
font-family: Calibri;
font-size: 20px;
}

#botao-blog2 {
text-align: center;
margin-top: 40px;
}

#saibablog2 {
padding: 15px;
color: black;
font-size: 25px;
font-family: Calibri;
border-radius: 12px;
border: 1px solid;
cursor: pointer;
background: none;
text-decoration: none;
}

#saibablog2 a {
text-decoration: none;
color: black;
font-family: Calibri;
}

#saibablog2:hover {
font-weight: bold;
text-decoration: none;
}

#parcerias {
clear: both;
margin-top: 70px;
text-align: center;
}

#parcerias h1 {
font-size: 30px;
}

#parcerias p {
margin-top: 15px;
font-size: 30px;
}

#parcerias a {
text-decoration: none;
color: black;
}

#redessociais {
clear: both;
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#redessociais h1 {
font-size: 30px;
}

#redessociais h3 {
text-align: center;
}

#imagens {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

#facebook img {
padding-right: 5px;
}

#whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    width: 60px;
    height: 60px;
}

#rodape {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 60px;
background-color: rgba(252, 252, 252, 0.5);
width: 100%;
position: relative;
margin: 0;
margin-top: 30px;
width: 100%;
}

#rodapetexto {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 60px;
margin: 0;
color: black;
font-size: 18px; 
font-family: Calibri;
width: 70%;
float: left;
}

#rodapetexto p {
font-family: Calibri;
}

#rodapeimg {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 60px;
float: right;
margin: 0;
width: 30%;
}

#img-1 img, #img-2 img {
float: left;
margin: 2px;
width: 43px;
height: 43px;
}

@media(min-width: 1201px) and (max-width: 1310px) {

#menu { 
margin-top: -90px;
}

#menu ul li {
text-align: center;
padding-right: 0;
padding-left: 55px;
float: left; 
}

#logo img {
width: 250px;
height: 150px;
margin-left: -30px;
}

}

@media(max-width: 1200px) {

    #labelMenu {
        margin-top: -120px;
        float: right;
        z-index: 1000000000000000000000;
        color: #C14242;
        display: block;
        padding-top: 20px;
        padding-right: 15px;
        padding-left: 15px;
        right: 0px;
        background-color: white;
        color: #C14242;
        font-size: 30px;
        position: fixed;
    }

    #bt_menu:checked ~ #menu {
        -webkit-transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
        -moz-transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
        -o-transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
        transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
    }

    #logo {
        margin-right: 100px;
    }

        #logo img {
            width: 250px;
            height: 150px;
        }

    #menu {
        width: 100%;
        height: 100%;
        display: none;
        z-index: 999;
        background-color: white;
        font-size: 20px;
    }

        #menu ul {
            width: 100%;
            height: 100%;
            background-color: white;
        }

            #menu ul li {
                width: 100%;
                z-index: 999;
                background-color: white;
            }

            #menu ul ul {
                min-width: 100%;
                padding-right: 0px;
                padding-left: 0px;
                margin: 0;
                text-align: center;
            }

    #terapiasLista {
        display: none;
    }

    #menu ul ul li {
        min-width: 100%;
        height: 30px;
        color: black;
        font-size: 20px;
        background-color: #D79B9B;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 5px;
        padding-bottom: 8px;
        margin: 0;
    }

        #menu ul ul li a {
            padding-top: 5px;
            padding-bottom: 8px;
        }
}

@media(min-width: 1201px) and (max-width: 1350px) {

#blog-textos {
margin-left: 180px;
}

#blog-textos2 {
margin-right: 180px;
}

}

@media(min-width: 1151px) and (max-width: 1200px) {

#blog-textos {
margin-left: 150px;
}

#blog-textos2 {
margin-right: 150px;
}

}

@media(min-width: 1101px) and (max-width: 1150px) {

#blog-textos {
margin-left: 120px;
}

#blog-textos2 {
margin-right: 120px;
}

}

@media(min-width: 1051px) and (max-width: 1100px) {

#blog-textos {
margin-left: 90px;
}

#blog-textos2 {
margin-right: 90px;
}

}

@media(min-width: 1001px) and (max-width: 1050px) {

#blog-textos {
margin-left: 60px;
}

#blog-textos2 {
margin-right: 60px;
}

}

@media(min-width: 951px) and (max-width: 1000px) {

#blog-textos {
margin-left: 60px;
}

#blog-textos2 {
margin-right: 60px;
}

}

@media(min-width: 481px) and (max-width: 950px) {

#parcerias {
margin-top: -30px;
}

#blog-textos, #blog-textos2 {
text-align: center;
float: none;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
}

}

@media(min-width: 481px) and (max-width: 1310px) {

#historia2, #terapias {
background-size: cover;
background-size: 100%;
background-repeat: no-repeat;
display: block;
}

#consulta {
margin-top: 20px;
}

#consulta p {
max-width: 90%;
margin-left: auto;
margin-right: auto;
}

#redessociais h1 {
font-size: 30px;
}

#parcerias h1 {
font-size: 30px;
}

}

@media(min-width: 1311px) {

#centralizar-saiba2 {
float: left;
margin-left: 300px;
}

}

@media(min-width: 1600px) and (max-width: 1680px) {

#terapias-texto h1 {
padding-top: 55px;
margin-left: 85px;
font-size: 50px;
text-align: center;
color: black;
width: 600px;
}

#terapias-texto p {
margin-top: -10px;
font-size: 28px;
color: black;
margin-left: 80px;
width: 600px;
text-align: justify;
}

}

@media(min-width: 1450px) and (max-width: 1680px) {

#historia2-texto h1 {
max-width: 45%;
margin-left: 800px;
}

#historia2-texto p {
max-width: 45%;
margin-left: 800px;
}

}

@media(min-width: 1650px) and (max-width: 1680px) {

#centralizar-saiba1 {
float: right;
margin-right: 400px;
}

}

@media(min-width: 1412px) and (max-width: 1649px) {

#centralizar-saiba1 {
float: right;
margin-right: 350px;
}

}

@media(min-width: 1311px) and (max-width: 1411px) {

#centralizar-saiba1 {
float: right;
margin-right: 300px;
}

}

@media(min-width: 1311px) and (max-width: 1450px) {

#historia2-texto h1 {
max-width: 45%;
margin-left: 700px;
}

#historia2-texto p {
max-width: 45%;
margin-left: 700px;
}

}

@media(min-width: 1201px) and (max-width: 1310px) {

#historia2, #terapias {
margin-top: 5px;
}

#historia2-texto h1 {
max-width: 55%;
margin-left: 550px;
}

#historia2-texto p {
max-width: 55%;
margin-left: 550px;
}

#centralizar-saiba1 {
float: right;
margin-right: 280px;
}

#centralizar-saiba2 {
float: left;
margin-left: 300px;
}

#saibaterapias {
margin-top: 15px;
margin-bottom: 15px;
}

#terapias-texto p {
font-size: 28px;
}

#terapias-texto h1 {
padding-top: 20px;
}

#terapias {
height: 400px;
}

}

@media(min-width: 1101px) and (max-width: 1200px) {

#historia2, #terapias {
margin-top: 5px;
}

#historia2-texto h1 {
padding-top: 30px;
max-width: 40%;
margin-left: 500px;
}

#historia2-texto p {
max-width: 40%;
margin-left: 500px;
}

#centralizar-saiba1 {
float: right;
margin-right: 300px;
}

#centralizar-saiba2 {
float: left;
margin-left: 300px;
}

#saibaterapias {
margin-top: 10px;
margin-bottom: 10px;
}

#terapias-texto p {
font-size: 28px;
}

#terapias-texto h1 {
padding-top: 20px;
}

#terapias {
height: 400px;
}
}

@media(min-width: 981px) and (max-width: 1100px) {

#historia2, #terapias {
margin-top: 5px;
}

#historia2-texto h1 {
padding-top: 50px;
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 37px;
}

#historia2-texto p {
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 32px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#centralizar-saiba1 {
margin-top: 20px;
text-align: center;
}

#centralizar-saiba2 {
text-align: center;
}

#terapias-texto h1 {
padding-top: 25px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 40px;
}

#saibaterapias {
margin-top: 10px;
margin-bottom: 10px;
}

#terapias-texto p {
margin-top: -5px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 28px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#terapias {
height: 400px;
}

}

@media(min-width: 881px) and (max-width: 980px) {

#historia2, #terapias {
margin-top: 5px;
}

#historia2-texto h1 {
padding-top: 50px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 35px;
}

#historia2-texto p {
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 30px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#centralizar-saiba1 {
margin-top: 25px;
text-align: center;
}

#centralizar-saiba2 {
text-align: center;
}

#terapias-texto h1 {
padding-top: 40px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 37px;
}

#saibaterapias {
margin-top: 10px;
margin-bottom: 10px;
}

#terapias-texto p {
margin-top: -5px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 26px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#terapias {
height: 400px;
}

}

@media(min-width: 781px) and (max-width: 880px) {

#terapias {
height: 300px;
margin-top: 10px;
}

#historia2 {
margin-top: 5px;
}

#historia2-texto h1 {
padding-top: 40px;
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 35px;
}

#historia2-texto p {
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 30px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#centralizar-saiba1 {
margin-top: 20px;
text-align: center;
}

#terapias-texto h1 {
padding-top: 30px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 35px;
}

#saibaterapias {
margin-top: 10px;
margin-bottom: 10px;
}

#centralizar-saiba2 {
text-align: center;
}

#terapias-texto p {
margin-top: -5px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 24px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#terapias {
height: 400px;
}

}

@media(min-width: 681px) and (max-width: 780px) {

#terapias {
height: 300px;
margin-top: 10px;
}

#historia2 {
height: 220px;
}

#historia2-texto h1 {
padding-top: 25px;
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 32px;
}

#historia2-texto p {
margin-top: -10px;
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#centralizar-saiba1 {
text-align: center;
margin-top: 20px;
}

#saibahistoria {
margin-top: 5px;
font-size: 20px;
padding: 5px;
}

#terapias-texto h1 {
padding-top: 30px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 30px;
}

#centralizar-saiba2 {
text-align: center;
}

#saibaterapias {
margin-top: 10px;
margin-bottom: 10px;
}

#terapias-texto p {
margin-top: -10px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 22px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

}

@media(min-width: 581px) and (max-width: 680px) {

#terapias {
height: 260px;
margin-top: 10px;
}

#historia2 {
height: 220px;
}

#historia2-texto h1 {
padding-top: 20px;
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 32px;
}

#historia2-texto p {
margin-top: -10px;
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#centralizar-saiba1 {
margin-top: 20px;
text-align: center;
}

#saibahistoria {
font-size: 20px;
}

#terapias-texto h1 {
padding-top: 5px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 30px;
}

#saibaterapias {
font-size: 20px;
}

#centralizar-saiba2 {
text-align: center;
margin-top: 13px;
}

#terapias-texto p {
margin-top: -15px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 22px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

}

@media(min-width: 481px) and (max-width: 580px) {

#terapias {
height: 220px;
margin-top: 10px;
}

#historia2 {
height: 220px;
}

#historia2-texto h1 {
padding-top: 10px;
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 32px;
}

#historia2-texto p {
margin-top: -15px;
max-width: 75%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

#centralizar-saiba1 {
margin-top: 20px;
text-align: center;
}

#saibahistoria {
font-size: 20px;
}

#centralizar-saiba2 {
text-align: center;
margin-top: 10px;
}

#terapias-texto h1 {
padding-top: 0px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 30px;
}

#saibaterapias {
font-size: 15px;
padding: 5px;
}

#terapias-texto p {
margin-top: -15px;
max-width: 85%;
margin-left: auto;
margin-right: auto;
font-size: 19px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
}

}

@media(min-width: 980px) and (max-width: 1310px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#fotoinicio img {
margin-top: 150px; 
}

}

@media(min-width: 701px) and (max-width: 979px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#fotoinicio img {
margin-top: 150px; 
}

#rodape {
margin-top: 30px;
flex-direction: column;
height: 90px;
}

#rodapetexto {
justify-content: center;
vertical-align: middle;
width: 100%;
text-align: justify;
}

#rodapetexto p {
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
}

#rodapeimg {
width: 100%;
vertical-align: middle;
}

}

@media(max-width: 700px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#fotoinicio img {
margin-top: 150px; 
}

#rodape {
margin-top: 30px;
flex-direction: column;
height: 110px;
}

#rodapetexto {
justify-content: center;
vertical-align: middle;
width: 100%;
text-align: justify;
}

#rodapetexto p {
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
}

#rodapeimg {
padding-top: 5px;
width: 100%;
vertical-align: middle;
}

}

@media(max-width: 480px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#fotoinicio img {
margin-top: 150px;
}

/* #cssSlider {
width: 400px;
margin-left: 0px;
}

#sliderImages {
width: 2000px;
} */

#historia2 {
margin-top: 10px;
background-position: top 0px left -150px;
background-size: cover;
}

#historia2-texto h1 {
padding-top: 35px;
margin-left: 25px;
text-align: center;
height: 40px;
color: black;
font-size: 32px;
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

#historia2-texto p {
margin-left: 25px;
font-size: 25px;
background-color: rgba(246, 232, 232, 0.8);
color: black;
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

#centralizar-saiba1, #centralizar-saiba2 {
text-align: center;
}

#centralizar-saiba1 {
margin-top: 20px;
}

#saibahistoria {
background: rgba(246, 232, 232, 0.8);
color: black;
text-align: center;
}

#saibahistoria a {
color: black;
}

#terapias {
margin-top: 10px;
background-size: cover;
}

#terapias-texto h1 {
padding-top: 25px;
font-size: 40px;
color: black;
text-align: center;
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

#terapias-texto p {
font-size: 24px;
color: black;
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

#saibaterapias {
font-size: 20px;
text-align: center;
}

/* #feminino { 
margin-left: 0px;
width: 360px;
}

#feminino h1 { 
font-size: 25px;
margin-left: 0px;
}

#feminino p { 
margin-left: 0px;
font-size: 20px;
}

.saibamais4 {
margin-top: 30px;
margin-left: 50px;
} */

#consulta {
margin-top: 20px;
width: 310px;
margin-left: auto;
margin-right: auto;
}

#consulta h1 {
font-size: 28px;
}

#consulta p {
font-size: 22px;
text-align: justify;
}

#agenda {
margin-top: 15px;
}

#blog-textos, #blog-textos2 {
text-align: center;
float: none;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
max-width: 85%;
}

#parcerias {
margin-top: -20px;
}

#parcerias h1 {
font-size: 30px;
}

#parcerias p {
font-size: 25px;
}

#redessociais h1 {
font-size: 30px;
}

#rodape {
margin-top: 30px;
flex-direction: column;
height: 120px;
}

#rodapetexto {
justify-content: center;
vertical-align: middle;
width: 100%;
text-align: justify;
}

#rodapetexto p {
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
}

#rodapeimg {
width: 100%;
vertical-align: middle;
}

#img-1 img, #img-2 img {
width: 40px;
height: 40px;
}

}

@media(max-width: 330px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

    #historia2 {
        margin-top: 10px;
        background-position: top 0px left -150px;
        background-size: cover;
    }

    #historia2-texto h1 {
        padding-top: 25px;
        margin-left: 25px;
        text-align: center;
        height: 40px;
        color: black;
        font-size: 32px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #historia2-texto p {
        margin-left: 25px;
        font-size: 25px;
        background-color: rgba(246, 232, 232, 0.8);
        color: black;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #centralizar-saiba1, #centralizar-saiba2 {
        text-align: center;
    }

    #centralizar-saiba1 {
        margin-top: 20px;
    }

    #saibahistoria {
        background: rgba(246, 232, 232, 0.8);
        color: black;
        text-align: center;
    }

        #saibahistoria a {
            color: black;
        }

    #terapias {
        margin-top: 10px;
        background-size: cover;
    }

    #terapias-texto h1 {
        padding-top: 25px;
        font-size: 40px;
        color: black;
        text-align: center;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #terapias-texto p {
        font-size: 22px;
        color: black;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #saibaterapias {
        font-size: 20px;
        text-align: center;
    }

    #consulta h1 {
        font-size: 28px;
    }

    #consulta p {
        font-size: 22px;
        text-align: justify;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #agenda {
        margin-top: 15px;
    }

    #blog-textos, #blog-textos2 {
        text-align: center;
	    float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        max-width: 85%;
    }

        #blog-textos2 {
            margin-top: 75px;
        }

        #imagem-blog2 img, #imagem-blog1 img {
            max-width: 100%;
        }

#parcerias {
margin-top: -10px;
}

        #rodape {
        margin-top: 30px;
        flex-direction: column;
        height: 140px;
        width: 100%;
    }

    #rodapetexto {
        justify-content: center;
        text-align: justify;
    }

        #rodapetexto p {
            font-size: 15px;
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

    #rodapeimg {
        vertical-align: middle;
    }

    #img-1 img, #img-2 img {
        width: 40px;
        height: 40px;
    }

    #whatsapp {
        top: 84%;
        left: 77%;
    }
}



