* {
margin: 0;
padding: 0;
font-family: "Ink Free", Tahoma;
}

@font-face {
    font-family: "Ink Free";
    src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
    src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
}

html {
height: 100%;
margin: 0;
}

body {
background-color: #D79B9B;
color: black;
height: 100%;
margin: 0;
}

header {
position: fixed; 
top: 0; 
left: 0;
width: 100%; 
background-color: white; 
}

#logo img {
    width: 300px;
    height: 200px;
}

#menu {
    margin-top: -100px;
    width: 1100px;
    height: 200px;
    position: fixed;
    right: 0;
    font-size: 20px;
}

    #menu ul {
        list-style: none;
        position: relative;
    }

        #menu ul li {
            text-align: center;
            padding-right: 50px;
            float: left;
            cursor: pointer;
        }

    #menu a {
        padding: 8px;
        display: block;
        text-decoration: none;
        color: black;
        width: 100%;
    }

#terapias {
    position: absolute;
    display: none;
    background-color: white;
    color: black;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}

#menu ul li ul li {
    background-color: white;
    color: black;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

    #menu ul li ul li a {
        background-color: white;
        color: black;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
    }

#menu a:hover {
    background-color: #D79B9B;
    color: white;
    width: 100%;
}

#labelMenu {
    background-color: white;
    color: #C14242;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#bt_menu {
    display: none;
}


#todo {
min-height: 100%;
}

#todo-dentro {
padding-bottom: 80px;
}

#fotoflorais img {
    margin-top: 200px;
    width: 100%;
}

#titulo {
height: 100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#titulo h2 {
font-size: 60px;
color: black;
text-align: center;
}

/* #imagem {
margin-left: 50px;
float: left;
margin: 50px;
} */

/* #principal img {
border-radius: 20%;
} */

#texto {
width: 85%;
margin-left: auto;
margin-right: auto;
}

#texto p {
text-align: justify;
font-family: Calibri;
font-size: 20px;
}

/* .question {
margin-top: 50px;
border-bottom: 1px solid #ccc;
padding: 10px 0;
text-align: center;
color: black;
font-size: 20px;
}

.question input, .question .resposta {
display: none;
color: black;
}

.question .resposta {
margin-top: 30px;
}

.question label { 
cursor: pointer;
display: inline-block;
font-weight: bold;
margin-bottom: 5px;
width: 100%;
}

.question input:checked ~ .resposta {
display: block;
} */

#whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    width: 60px;
    height: 60px;
}

#rodape {
margin-top: -60px;
width: 100%;   /* Largura estende por toda página da div */
height: 60px;   /* Altura da div */
}

#colunafooter {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

#rodapetexto {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: black;
font-size: 18px; 
font-family: Calibri;
width: 70%;
float: left;
height: 60px;
margin: 0;
background-color: rgba(252, 252, 252, 0.5);
}

#rodapetexto p {
font-family: Calibri;
}

#rodapeimg {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
float: right;
width: 30%;
margin: 0;
height: 60px;
background-color: rgba(252, 252, 252, 0.5);
}

#img-1 img, #img-2 img {
float: left;
margin: 2px;
width: 43px;
height: 43px;
}


@media(min-width: 1201px) and (max-width: 1310px) {

#menu { 
margin-top: -90px;
}

#menu ul li {
text-align: center;
padding-right: 0;
padding-left: 55px;
float: left; 
}

#logo img {
width: 250px;
height: 150px;
margin-left: -30px;
}

}

@media(max-width: 1200px) {

    #labelMenu {
        margin-top: -120px;
        float: right;
        z-index: 1000000000000000000000;
        color: #C14242;
        display: block;
        padding-top: 20px;
        padding-right: 15px;
        padding-left: 15px;
        right: 0px;
        background-color: white;
        color: #C14242;
        font-size: 30px;
        position: fixed;
    }

    #bt_menu:checked ~ #menu {
        -webkit-transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
        -moz-transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
        -o-transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
        transition: all 0.4s cubic-bezier(.17,.67,.83,.67);
    }

    #logo {
        margin-right: 100px;
    }

        #logo img {
            width: 250px;
            height: 150px;
        }

    #menu {
        width: 100%;
        height: 100%;
        display: none;
        z-index: 999;
        background-color: white;
        font-size: 20px;
    }

        #menu ul {
            width: 100%;
            height: 100%;
            background-color: white;
        }

            #menu ul li {
                width: 100%;
                z-index: 999;
                background-color: white;
            }

            #menu ul ul {
                min-width: 100%;
                padding-right: 0px;
                padding-left: 0px;
                margin: 0;
                text-align: center;
            }

    #terapias {
        display: none;
    }

    #menu ul ul li {
        min-width: 100%;
        height: 30px;
        color: black;
        font-size: 20px;
        background-color: #D79B9B;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 5px;
        padding-bottom: 8px;
        margin: 0;
    }

        #menu ul ul li a {
            padding-top: 5px;
            padding-bottom: 8px;
        }
}

@media(min-width: 556px) and (max-width: 670px) {

#titulo {
height: 100px;
}

#titulo h2 {
font-size: 40px;
}

}

@media(min-width: 481px) and (max-width: 555px) {

#titulo {
height: 150px;
}

#titulo h2 {
font-size: 50px;
}

}

@media(min-width: 980px) and (max-width: 1310px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#fotoflorais img {
margin-top: 150px; 
}

}

@media(min-width: 701px) and (max-width: 979px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#fotoflorais img {
margin-top: 150px; 
}

#titulo {
height: 130px;
}

#titulo h2 {
font-size: 50px;
padding-left: 10px; 
padding-right: 10px;
}

#todo-dentro {
padding-bottom: 80px;
}

    #rodape {
        margin-top: -60px;
        clear: both;
        float: none;
        height: 60px;
        width: 100%;
    }

#colunafooter {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#rodapetexto {
clear: both;
float: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: black;
font-size: 18px; 
width: 100%;
vertical-align: middle;
margin: 0;
height: 35px;
}

#rodapetexto p {
font-family: Calibri;
text-align: justify;
padding-top: 5px;
padding-left: 20px;
padding-right: 20px;
}

#rodapeimg {
clear: both;
float: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
margin: 0;
}

}

@media(max-width: 700px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#fotoflorais img {
margin-top: 150px; 
}

#titulo {
height: 130px;
}

#titulo h2 {
font-size: 50px;
padding-left: 10px; 
padding-right: 10px;
}

#todo-dentro {
padding-bottom: 100px;
}

    #rodape {
        margin-top: -75px;
        clear: both;
        float: none;
        height: 75px;
        width: 100%;
    }

#colunafooter {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#rodapetexto {
clear: both;
float: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: black;
font-size: 18px; 
font-family: Calibri;
width: 100%;
vertical-align: middle;
margin: 0;
height: 45px;
}

#rodapetexto p {
font-family: Calibri;
text-align: justify;
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
}

#rodapeimg {
clear: both;
float: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
margin: 0;
}

}

@media(max-width: 480px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#fotoflorais img {
margin-top: 150px;
}

#titulo {
height: 150px;
}

#titulo h2 {
font-size: 45px;
padding-left: 10px;
padding-right: 10px;
}

/* #principal img {
margin-top: -50px;
width: 300px;
height: 250px;
} */

#texto p {
max-width: 100%;
}

#todo-dentro {
padding-bottom: 130px;
}

    #rodape {
        margin-top: -110px;
        clear: both;
        float: none;
        height: 110px;
        width: 100%;
    }

#colunafooter {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#rodapetexto {
clear: both;
float: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: black;
font-size: 18px; 
font-family: Calibri;
width: 100%;
vertical-align: middle;
margin: 0;
height: 70px;
}

#rodapetexto p {
font-family: Calibri;
text-align: justify;
padding-top: 5px;
padding-left: 30px;
padding-right: 30px;
}

#rodapeimg {
clear: both;
float: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
margin: 0;
}

}

@media(max-width: 330px) {

    @font-face {
        font-family: "Ink Free";
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
        src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg");
    }

#titulo {
height: 180px;
}

#titulo h2 {
font-size: 45px;
padding-left: 20px;
padding-right: 20px;
}

#perguntas h2 {
font-size: 24px;
}

#todo-dentro {
padding-bottom: 160px;
}

    #rodape {
        clear: both;
        float: none;
        height: 140px;
        margin-top: -140px;
        width: 100%;
    }

#colunafooter {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#rodapetexto {
margin: 0;
clear: both;
float: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: black;
font-size: 18px; 
font-family: Calibri;
width: 100%;
vertical-align: middle;
height: 110px;
}

#rodapetexto p {
font-family: Calibri;
text-align: justify;
padding-top: 5px;
padding-left: 30px;
padding-right: 30px;
}

#rodapeimg {
margin: 0;
clear: both;
float: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
}

    #whatsapp {
        top: 84%;
        left: 77%;
    }
}


