body {
	background-color: #D79B9B;
}

#titulo h2 {
	text-align: center;
	color: black;
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Ink Free";
}

#imagem {
	text-align: center;
	margin-top: 200px;
}

#imagem img {
	width: 600px;
	height: 400px;
}

#texto {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#texto p {
	text-align: justify;
	font-family: Calibri;
	font-size: 20px;
}

#voltar {
	margin-top: 30px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#voltar p {
	font-size: 20px;
	font-family: Calibri;
	font-weight: bold;
	color: black;
}

#voltar p a {
	text-decoration: none;
	color: black;
}

#compartilhar {
	margin-top: 30px;
}

#compartilhar p {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	font-family: "Ink Free";
}

#compartilhar ul {
	list-style-type: none;
	margin: 0 auto;
	width: 270px;
}

#compartilhar ul li {
	float: left;
	padding: 10px 3px;
}

#rodape {
	margin-top: -60px;
	width: 100%;
	height: 60px;
}

#colunafooter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#rodapetexto {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 18px;
	font-family: Calibri;
	width: 70%;
	float: left;
	height: 60px;
	margin: 0;
	background-color: rgba(252, 252, 252, 0.5);
}

#rodapetexto p {
	font-family: Calibri;
}

#rodapeimg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	float: right;
	width: 30%;
	margin: 0;
	height: 60px;
	background-color: rgba(252, 252, 252, 0.5);
}

#img-1 img, #img-2 img {
	float: left;
	margin: 2px;
	width: 43px;
	height: 43px;
}

@media(min-width: 980px) and (max-width: 1310px) {

	#imagem img {
		max-width: 100%; 
		height: auto;
		margin-top: -50px;
	}
	
}

@media(min-width: 701px) and (max-width: 979px) {

	#imagem img {
		max-width: 100%; 
		height: auto;
		margin-top: -50px;
	}
	
	#texto p {
		max-width: 100%;
	}
	
	#rodape {
		margin-top: -60px;
		clear: both;
		float: none;
		height: 60px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px;
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 35px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(max-width: 700px) {
	
	#imagem img {
		max-width: 100%; 
		height: auto;
		margin-top: -50px;
	}
	
	#texto p {
		max-width: 100%;
	}
	
	#rodape {
		margin-top: -75px;
		clear: both;
		float: none;
		height: 75px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px;
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 45px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(max-width: 480px) {
	
	#imagem img {
		max-width: 100%; 
		height: auto;
		margin-top: -50px;
	}
	
	#titulo h2 {
		text-align: center;
	}
	
	#texto p {
		max-width: 100%;
	}
	
	#compartilhar p {
		font-size: 20px;
	}
	
	#rodape {
		margin-top: -110px;
		clear: both;
		float: none;
		height: 110px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px;
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 70px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(max-width: 330px) {
	
	#rodape {
		clear: both;
		float: none;
		height: 140px;
		margin-top: -140px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		margin: 0;
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px;
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		height: 110px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		margin: 0;
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	
}