html {
	height: 100%;
	margin: 0;
}

body {
	background-color: #D79B9B;
	color: black;
	height: 100%;
	margin: 0;
}

#todo {
	min-height: 100%;
}

#todo-dentro {
	padding-bottom: 80px;
}

#titulo {
	margin-top: 200px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#titulo h2 {
	margin: 0;
	font-size: 60px;
	color: black;
}

#linha {
	display: flex;
	flex-direction: row;
	max-width: 90%;
	margin: 0 auto;
}

#ginecologia, #sagrado, #theta {
	max-width: 400px;
	height: auto;
	margin: 10px;
	background-color: rgba(252, 252, 252, 0.5);
}

#theta img, #ginecologia img, #sagrado img {
	max-width: 100%;
	height: auto;
}

#theta h2, #saude h2, #ginecologia h2, #sagrado h2 {
	margin-top: 10px;
	text-align: center;
}

#theta p, #saude p, #ginecologia p, #sagrado p {
	margin-top: 10px;
	text-align: justify;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#textogine p, #textotheta p {
	font-size: 19px;
}

#textosagrado p {
	font-size: 18px;
}

#botaotheta, #botaogineco {
	text-align: center;
	margin-top: 20px;
}

#saibamais {
	font-family: Calibri;
	font-size: 20px;
	background: none;
	padding: 5px;
	border-radius: 12px;
	border: 1px solid;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

#saibamais:hover {
	background-color: white;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

#saibamais a {
	text-decoration: none;
	color: black;
}

#rodape {
	margin-top: -60px;
	width: 100%;   
	height: 60px;   
}

#colunafooter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#rodapetexto {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 18px; 
	font-family: Calibri;
	width: 70%;
	float: left;
	height: 60px;
	margin: 0;
	background-color: rgba(252, 252, 252, 0.5);
}

#rodapetexto p {
	font-family: Calibri;
}

#rodapeimg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	float: right;
	width: 30%;
	margin: 0;
	height: 60px;
	background-color: rgba(252, 252, 252, 0.5);
}

#img-1 img, #img-2 img {
	float: left;
	margin: 2px;
	width: 43px;
	height: 43px;
}

@media(min-width: 1100px) and (max-width: 1310px) {
	
	#theta {
		height: 1100px;
	}
	
}

@media(min-width: 981px) and (max-width:1100px) {
	
	#theta {
		height: 1300px;
	}
	
}


@media(min-width: 980px) and (max-width: 1310px) {
	
	#titulo {
		margin-top: 150px;
		height: 100px;
	}
	
}

@media(min-width: 851px) and (max-width: 979px) {
	
	#theta {
		height: 1100px;
	}
	
}

@media(min-width: 701px) and (max-width: 850px) {
	
	#theta {
		height: 1000px;
	}
	
}

@media(min-width: 701px) and (max-width: 979px) {
	
	#titulo {
		margin-top: 150px;
		height: 100px;
	}
	
	#linha {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#theta, #sagrado, #ginecologia {
		min-width: 100%;
	}
	
	#textotheta p {
		font-size: 20px;
	}
	
	#ginecologia {
		height: 850px;
	}
	
	#sagrado {
		height: 900px;
	}
	
	#todo-dentro {
		padding-bottom: 80px;
	}
	
	#rodape {
		margin-top: -60px;
		clear: both;
		float: none;
		height: 60px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px; 
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 35px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(max-width: 700px) {
	
	#titulo {
		margin-top: 150px;
		height: 100px;
	}
	
	#linha {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#theta, #sagrado, #ginecologia {
		min-width: 100%;
	}
	
	#textotheta p {
		font-size: 20px;
	}
	
	#theta {
		height: 900px;
	}
	
	#ginecologia {
		height: 900px;
	}
	
	#sagrado {
		height: 1000px;
	}
	
	#todo-dentro {
		padding-bottom: 100px;
	}
	
	#rodape {
		margin-top: -75px;
		clear: both;
		float: none;
		height: 75px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px; 
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 45px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(max-width: 480px) {
	
	#titulo {
		margin-top: 150px;
		height: 100px;
	}
	
	#linha {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#theta, #sagrado, #ginecologia {
		min-width: 100%;
	}
	
	#textotheta p {
		font-size: 20px;
	}
	
	#theta {
		height: 900px;
	}
	
	#ginecologia {
		height: 950px;
	}
	
	#sagrado {
		height: 2000px;
	}
	
	#todo-dentro {
		padding-bottom: 130px;
	}
	
	#rodape {
		margin-top: -110px;
		clear: both;
		float: none;
		height: 110px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px; 
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		margin: 0;
		height: 70px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
	}
	
}

@media(min-width: 400px) and (max-width: 479px) {
	
	#linha {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#theta, #sagrado, #ginecologia {
		min-width: 100%;
	}
	
	#textotheta p {
		font-size: 20px;
	}
	
	#theta {
		height: 950px;
	}
	
	#ginecologia {
		height: 1050px;
	}
	
	#sagrado {
		height: 2000px;
	}
	
}

@media(min-width: 331px) and (max-width: 399px) {
	
	#linha {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#theta, #sagrado, #ginecologia {
		min-width: 100%;
	}
	
	#textotheta p {
		font-size: 20px;
	}
	
	#theta {
		height: 950px;
	}
	
	#ginecologia {
		height: 1100px;
	}
	
	#sagrado {
		height: 2000px;
	}
	
}

@media(max-width: 330px) {
	
	#titulo {
		margin-top: 150px;
		height: 100px;
	}
	
	#linha {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#theta, #sagrado, #ginecologia {
		min-width: 100%;
	}
	
	#textotheta p {
		font-size: 20px;
	}
	
	#theta {
		height: 950px;
	}
	
	#ginecologia {
		height: 1200px;
	}
	
	#sagrado {
		height: 2000px;
	}
	
	#todo-dentro {
		padding-bottom: 160px;
	}
	
	#rodape {
		clear: both;
		float: none;
		height: 140px;
		margin-top: -140px;
		width: 100%;
	}
	
	#colunafooter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	#rodapetexto {
		margin: 0;
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 18px; 
		font-family: Calibri;
		width: 100%;
		vertical-align: middle;
		height: 110px;
	}
	
	#rodapetexto p {
		font-family: Calibri;
		text-align: justify;
		padding-top: 5px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		margin: 0;
		clear: both;
		float: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

}	