body {
	background-color: #D79B9B;
	color: black;
}

#fototheta img {
	margin-top: 200px;
	width: 100%;
}

#titulo {
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#titulo h2 {
	font-size: 60px;
	color: black;
	text-align: center;
}

#rodape {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60px;
	background-color: rgba(252, 252, 252, 0.5);
	width: 100%;
	position: relative;
	margin: 0;
	margin-top: 30px;
	width: 100%;
}

#rodapetexto {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60px;
	margin: 0;
	color: black;
	font-size: 18px; 
	font-family: Calibri;
	width: 70%;
	float: left;
}

#rodapetexto p {
	font-family: Calibri;
}

#rodapeimg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60px;
	float: right;
	margin: 0;
	width: 30%;
}

#img-1 img, #img-2 img {
	float: left;
	margin: 2px;
	width: 43px;
	height: 43px;
}

@media(min-width: 481px) and (max-width: 580px) {
	
	#pergunta-caixa3 label {
		font-size: 21px;
		margin-left: 0px;
		text-align: justify;
	}
	
	#resposta1 p, #resposta2 p, #resposta3 p, #resposta4 p {
		text-align: justify;
	}
	
	#pergunta-caixa3 {
		height: 65px;
	}
	
	#pergunta-caixa3 p {
		padding-top: 8px;
		padding-right: 15px;
		padding-left: 15px;
	}
	
}

@media(min-width: 980px) and (max-width: 1310px) {
	
	#fototheta img {
		margin-top: 150px; 
	}
	
}

@media(min-width: 701px) and (max-width: 979px) {
	
	#fototheta img {
		margin-top: 150px; 
	}
	
	#rodape {
		margin-top: 30px;
		flex-direction: column;
		height: 90px;
	}
	
	#rodapetexto {
		justify-content: center;
		vertical-align: middle;
		width: 100%;
		text-align: justify;
	}
	
	#rodapetexto p {
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#rodapeimg {
		width: 100%;
		vertical-align: middle;
	}
	
}

@media(max-width: 700px) {
	
	#fototheta img {
		margin-top: 150px; 
	}
	
	#rodape {
		margin-top: 30px;
		flex-direction: column;
		height: 110px;
	}
	
	#rodapetexto {
		justify-content: center;
		vertical-align: middle;
		width: 100%;
		text-align: justify;
	}
	
	#rodapetexto p {
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#rodapeimg {
		padding-top: 5px;
		width: 100%;
		vertical-align: middle;
	}
	
}

@media(max-width: 480px) {
	
	#fototheta img {
		margin-top: 150px;
	}
	
	#titulo {
		height: 80px;
	}
	
	#titulo h2 {
		font-size: 45px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#texto p {
		max-width: 100%;
	}
	
	/* #imagem img {
		width: 100%;
	} */
	
	#pergunta-caixa1 label, #pergunta-caixa2 label, #pergunta-caixa3 label, #pergunta-caixa4 label {
		font-size: 21px;
		margin-left: 0px;
		text-align: justify;
	}
	
	#resposta1 p, #resposta2 p, #resposta3 p, #resposta4 p {
		text-align: justify;
	}
	
	#pergunta-caixa1, #pergunta-caixa2, #pergunta-caixa3, #pergunta-caixa4 {
		height: 65px;
	}
	
	#pergunta-caixa1 p, #pergunta-caixa2 p, #pergunta-caixa3 p, #pergunta-caixa4 p {
		padding-top: 8px;
		padding-right: 15px;
		padding-left: 15px;
	}
	
	#rodape {
		margin-top: 30px;
		flex-direction: column;
		height: 120px;
	}
	
	#rodapetexto {
		justify-content: center;
		vertical-align: middle;
		width: 100%;
		text-align: justify;
	}
	
	#rodapetexto p {
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		width: 100%;
		vertical-align: middle;
	}
	
	#img-1 img, #img-2 img {
		width: 40px;
		height: 40px;
	}
	
}

@media(max-width: 330px) {
	
	#titulo {
		height: 90px;
	}
	
	#titulo h2 {
		font-size: 40px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#perguntas h2 {
		font-size: 24px;
	}
	
	#pergunta-caixa1 label, #pergunta-caixa2 label, #pergunta-caixa3 label, #pergunta-caixa4 label {
		font-size: 21px;
		margin-left: 0px;
		text-align: justify;
	}
	
	#resposta1 p, #resposta2 p, #resposta3 p, #resposta4 p {
		text-align: justify;
	}
	
	#pergunta-caixa1, #pergunta-caixa2, #pergunta-caixa4 {
		height: 65px;
	}
	
	#pergunta-caixa3 {
		height: 90px;
	}
	
	#pergunta-caixa1 p, #pergunta-caixa2 p, #pergunta-caixa3 p, #pergunta-caixa4 p {
		padding-top: 8px;
		padding-right: 15px;
		padding-left: 15px;
	}
	
	#rodape {
		margin-top: 30px;
		flex-direction: column;
		height: 140px;
		width: 100%;
	}
	
	#rodapetexto {
		justify-content: center;
		text-align: justify;
	}
	
	#rodapetexto p {
		font-size: 15px;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#rodapeimg {
		vertical-align: middle;
	}
	
	#img-1 img, #img-2 img {
		width: 40px;
		height: 40px;
	}
	
}